$header-height: 114px;

.nav-header {
  background-color: #4c5c96;
  display: flex;
  align-items: center;
  justify-content: center;

  height: $header-height;

  .search-wrapper {
    width: 50vw;
    display: flex;
    gap: 60px;
  }

  .search-bar {
    width: 50%;
  }
}



.App {
  height: calc(100vh - #{$header-height});
}
