.pro-sidebar-layout {
  overflow: visible !important;
}

.sidebar-header{
    padding: 24px 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
}

.team-link{
    font-size: 8pt;
    color: #ffffff !important;
    display: block;
    margin: 10px 8px 5px;
    text-align: right;
}

.sidebar-footer{
    font-size:12pt !important;
    color: #ffffff !important;
    padding: 20px 24px 5px 20px;
}

.locales-select{
  background-color: lighten(#4c5c96,10%);
  margin-left: 0.8em;
  vertical-align: bottom;
  width: 300px;
  color: #ffffff;
}

.route-waypoint{
    color: #ffffff;
}
