.pro-sidebar-layout {
  overflow: visible !important;
}

.sidebar-header{
    padding: 24px 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;

  img {
    margin-right: 16px;
  }
}

.route-infos {
  padding-top: 2px;
  text-align: right;
  color: #eee;

  .icon {
    margin-right: 5px;
    font-size: 18px;
  }

  & > span {
    margin-left: 19px;
    margin-right: 4px;
  }
}

.travelMode {
  padding: 8px 35px 8px 20px;

  .btn-group {
    width: 100%;
  }

  button {
    background: #6475b1;
    border-color: #6475b1;
    font-size: 19px;
    border-left: 1px solid #4c5c96;

    svg {
      pointer-events: none;
    }

    :first-child {
      border-left: 0;
    }
  }
}

.team-link{
    font-size: 8pt;
    color: #ffffff !important;
    display: block;
    margin: 10px 8px 5px;
    text-align: right;
}

.sidebar-footer{
    font-size:12pt !important;
    color: #ffffff !important;
    padding: 20px 24px 5px 20px;
}

.locales-select{
  background-color: lighten(#4c5c96,10%);
  margin-left: 0.8em;
  vertical-align: bottom;
  width: 300px;
  color: #ffffff;
}

.route-waypoint{
    color: #ffffff;
}
