$header-height: 120px;

.nav-header {
  color: #ffffff;
  background-color: #4c5c96;
  display: flex;
  height: $header-height;
}
.nav-header .navbar-brand {
  color: #ffffff;
}

.App {
  height: calc(100vh - #{$header-height});
}
